* {
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}


.layout {
    height: 100vh;
    display: grid;
    grid-template-areas:
        "header header header header"
        "form main main main"
        "footer footer footer footer"
    ;
    grid-template-rows: 10% 85% 5%;
}



.header {
    display: flex;
    grid-area: header;
    background-color: #EAF2F8;
}

.container_logo {
    display: flex;
    cursor:default;
    width: max-content;
    align-items: center;
}

.camera-logo {
    font-size: 35px;
    margin: 0 10px;
}

.nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

.nav ul {
    display: flex;
    align-items: center;
}

.nav li {
    list-style: none;
    margin: 0 30px;
}

.nav input {
    border:none;
    outline: none;
    padding: 5px 10px;
}

.container-search {
    padding: 2px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid black;
}

.nav a {
    margin:0 5px;
    font-size: 17px;
    color:#000;
    font-weight: bold;
    text-decoration: none;
    transition: all 300ms;
}

.nav a:hover {
    color:#021725;
    font-size: 16.5px;
}



.main {
    grid-area: main;
    padding: 10px 0;
    min-width: 965px;
    overflow: auto;
    background-color: #01385a;
}

.container_cards {
    padding:20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.title-cards {
    color:#fff;
    margin: 15px;
}

.title-error {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.container_cards .card {
    margin: 15px 20px;
    max-width: 135px;
    padding:5px 5px 0;
    display: inline-block;
    background-color: #2471A3;
}

.card .image-card {
    width: 135px;
    height: 200px;
}

.card .date-card {
    width: max-content;
    padding:2px 4px;
    margin:-15px 0 0;
    position: relative;
    background-color: #2471A3;
}

.card * {
    color:#000;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
}



.container_detalle {
    width: 90%;
    cursor: default;
    margin: 10px auto;
}

.detalle-flex {
    color:#000;
    display: flex;
    flex-wrap: wrap;
    padding: 5px 10px;
    align-items: center;
    box-shadow: 0 0 2px #EAF2F8;
    background-color: #EAF2F8;
}

.imagen-detalle {
    width: 250px;
    height: 350px;
    display: inline-block;
    border:1px solid #000;
}

.datos-detalle {
    padding:5px;
    flex-grow: 2;
}

.datos-detalle p {
    margin: 35px;
}

.title-detalle {
    text-align: center;
}

.color-elemento {
    color:#154360;
}

.boton-ver {
    color:#fff;
    cursor: pointer;
    padding:15px 20px;
    text-align: center;
    border-radius: 10px;
    background-color: #000;
}

.descripcion-detalle {
    color:#000;
    padding: 5px;
    margin: 15px auto;
    background-color: #EAF2F8;
    box-shadow: 0 0 2px #EAF2F8;
}

.parrafo-descripcion {
    padding:8px;
}

.form {
    grid-area: form;
    display: flex;
    max-width: 335px;
    justify-content: center;
    background-color: #D4E6F1;
}

.container_form {
    margin: 10px;
    padding: 1px 30px;
    text-align: center;
    width: min-content;
    height: min-content;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 4px #ABB2B9;
}

.container_form * {
    display: block;
    margin: 20px auto;
    width: max-content;
}

.form input {
    border:none;
    outline: none;
    padding:5px;
    width: 200px;
    height: 30px;
    box-shadow: 0 0 8px 1px #B3B6B7;
}

.form select {
    border:none;
    outline: none;
    padding:5px;
    width: 210px;
    height: 30px;
    box-shadow: 0 0 8px 1px #B3B6B7;
}

.form input::placeholder {
    color:#000;
}

.submit {
    color:#fff;
    cursor:pointer;
    border:none;
    width: 220px;
    padding:15px 20px;
    border-radius: 10px;
    background-color: #154360;
}


.form-hidden {
    display: none;
    transition: all 300ms;
}

.layout-hidden {
    height: 100vh;
    display: grid;
    grid-template-areas:
        "header header header header"
        "main main main main"
        "footer footer footer footer"
    ;
    grid-template-rows: 10% 85% 5%;
}


.footer {
    display: flex;
    flex-wrap: wrap;
    grid-area: footer;
    align-items: center;
    justify-content: center;
    background-color: #EAF2F8;
}

.footer .footer-copy {
    color:#424949;
    cursor: default;
} 

.footer .footer-help {
    color:#424949;
    margin:0 20px;
    text-decoration: none;
    transition: all 300ms;
}

.footer .footer-help:hover {
    color:#2980B9;
    font-size: 15.5px;
    text-decoration: underline;
}